/* @font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.otf');
  font-weight: 400;
} */
@font-face {
  font-family: 'MyriadPro';
  src:
    local('MyriadPro-Regular'),
    url('../fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'MyriadPro';
  src:
    local('MyriadPro-Semibold'),
    url('../fonts/MyriadPro-Semibold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'KozGoPr6N';
  src:
    local('KozGoPr6N-Light'),
    url('../fonts/KozGoPr6N-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'KozGoPr6N';
  src:
    local('KozGoPr6N-Regular'),
    url('../fonts/KozGoPr6N-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'KozGoPr6N';
  src:
    local('KozGoPr6N-Bold'),
    url('../fonts/KozGoPr6N-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'TsukuMinPro';
  src:
    local('TsukuMinPro-D'),
    url('../fonts/FOT-TsukuMinPro-D.otf') format('opentype');
}

::selection {
  background: #9D2932;
  color: #fff;
}

.border-akane-bottom {
  border-bottom: 1px solid #9D2932;
}

.font-myriadpro {
  font-family: 'MyriadPro';
}

.font-kozgopr6n {
  font-family: KozGoPr6N;
}

.font-tsukuminpro {
  font-family: 'TsukuMinPro';
}

.font-mincho {
  font-family: font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
}

.color-box {
  width: 100%;
  height: 5rem;
}

a {
  color: black;
}

p, span {
  font-style: KozGoPr6N;
}

.text-akane {
  color: #9D2932;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #9D2932;
  padding: 1rem;
}

.border-akane {
  border: 1px solid #9D2932;
  /* border-bottom: .1rem solid #9D2932; */
}

.text-ake {
  color: #BA2636;
}

.bg-ake {
  background: #BA2636;
}

.text-kokiake {
  color: #C20024;
}

.bg-kokiake {
  background: #C20024;
}

.bg-kokiake-transparent {
  background: rgba(194, 0, 36, 0.5);
}

.text-asaake {
  color: #DF7163;
}

.bg-asaake {
  background: #DF7163;
}

.bg-akane {
  background: #9D2932;
}

.bg-akanee-transparent {
  background: rgba(157, 41, 50, 0.2);
}

.bg-ake {
  background: #BA2636;
}

.bg-kokiake {
  color: #C20024;
}

.bg-asaake {
  background: #DF7163;
}

.bg-asaake-transparent {
  background: rgba(223, 113, 99, 0.5);
}

.bg-black {
  background-color: black;
}

.bg-transparent {
  background-color: rgba(245, 245, 245, 1);
}

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

svg.icon {
  width: 2rem;
}

svg path {
  color: white;
  color-fill: white;
  stroke: white;
  fill: white;
}

.text-copyright {
  /* font-size: ; */
}

footer {
  font-size: .9rem;
  font-family: 'KozGoPr6N';
  font-weight: 300;
}

.h-100vh {
  height: 100vh;
  max-height: 100vh;
}

.h-4rem {
  height: 4rem;
}

.h-10rem {
  height: 10rem;
}

.h-12rem {
  height: 12rem;
}

.h-100vh-minus-nav {
  height: calc(100vh - 4rem);
}

#mySidenav {
  width: 0;
}

#mySidenav.active {
  width: 16rem;
}

.sidenav .nav-item {
  padding-left: 1rem;
}

.over-hideen {
  overflow: hidden;
}

/* .carousel.carousel-fade .carousel-item {
opacity: 0;
transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
  transition: opacity ease-out .7s;
}

*/
/* #revival-akane .container-fluid {
  height: 15rem;
} */
/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* The side navigation menu */
.sidenav {
  height: 100vh;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  /* z-index: 1010; */
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 3rem;
  /* Place content 60px from the top */
  transition: 0.5s;
  white-space: nowrap;
}

.navbar .nav-link:hover {
  color: inherit;
  border-bottom: .05rem solid black;
}

.navbar .nav-item {
  padding-left: 2rem;
}

.menu-trigger,
.menu-trigger * {
  /* display: block; */
  transition: all .6s;
  /* box-sizing: border-box; */
}

.menu-trigger {
  width: 1.9rem;
  height: 2.4rem;
}

.menu-trigger>* {
  height: 0.24rem;
  width: 100%;
}

.menu-trigger .trigger-line {
  border-radius: .22rem;
  background-color: gray;
}

.menu-trigger .trigger-text.active {
  display: inline-block;
  z-index: 1030;
}

.menu-trigger .trigger-text {
  display: none;
  font-size: .65rem;
  text-align: center;
  color: gray;
}

.height-100vw {
  height: 100vw;
}

.panel {
  height: 12rem;
}

/* .menu-trigger.active::after {
  content: 'CLOSE';
} */
.menu-trigger.active .trigger-line:nth-of-type(1) {
  /* -webkit-transform: translateY(20px) rotate(-45deg); */
  /* transform: translateY(20px) rotate(-45deg); */
  transform: translateY(0.6rem) rotate(-45deg);
}

.menu-trigger.active .trigger-line:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active .trigger-line:nth-of-type(3) {
  /* -webkit-transform: translateY(-20px) rotate(45deg); */
  /* transform: translateY(-20px) rotate(45deg); */
  transform: translateY(-.6rem) rotate(45deg);
}

#handling-akane *[class*="col-"] {
  /* padding-top: 5rem; */
  /* padding-bottom: 5rem; */
  /* height: 8rem; */
}

/* https://www.nxworld.net/tips/10-css-hamburger-menu-icon-design-and-effect.html */
/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #handling-akane *[class*="col-"] {
    /* height: 20rem; */
  }

  .py-lg-5rem {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }

  .h-lg-5rem {
    height: 5rem;
  }

  .h-lg-100vh {
    height: 100vh;
  }

  .h-100vh-minus-nav {
    height: calc(100vh - 5rem);
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}